## Python - Data Structure

## Theoretical question

1. What are data structures, and why are they important ?
    - Data structures are ways to organize, store, and manage data for efficient access and modification. They are important because they allow algorithms to process data efficiently, enabling faster and optimized performance in applications.



2. Explain the difference between mutable and immutable data types with examples.
    - Mutable data types, like lists, can be changed after creation  (example my_list.append(5)).
    - Immutable data types, like tuples, cannot be altered after creation (example my_tuple = (1, 2) remains unchanged).



3. What are the main differences between lists and tuples in Python?
    - Lists are mutable, meaning their elements can be modified, while tuples are immutable. Lists use more memory and are slower compared to tuples, which are fixed and more memory-efficient.



4. Describe how dictionaries store data.
    - Dictionaries store data as key-value pairs in a hash table. Keys act as unique identifiers, and values are the associated data, allowing for quick retrieval using the key.


5. Why might you use a set instead of a list in Python?
    - A set is used when you need unique elements and fast membership checking, as sets automatically discard duplicates and have faster lookups than lists.

6. What is a string in Python, and how is it different from a list?
    - A string is an immutable sequence of characters, while a list is a mutable collection of items that can include multiple data types. Strings cannot be modified, but lists can.

7. How do tuples ensure data integrity in Python?
    - Tuples are immutable, meaning their contents cannot be changed once created. This ensures the data remains constant and secure from accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally to allow fast data retrieval by keys.

9. Can lists contain different data types in Python?
    - Yes, Python lists are heterogeneous, meaning they can contain elements of different data types, such as integers, strings, and even other lists.

10. Explain why strings are immutable in Python.
    - Strings are immutable to improve performance and memory efficiency, as they can be reused without modification. This design also ensures thread safety.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries provide fast lookups using keys, making them more efficient than lists when you need to access elements based on identifiers rather than positions.

12. Describe a scenario where using a tuple would be preferable over a list.
    - Tuples are preferable for storing constant data, such as geographical coordinates (latitude, longitude) or settings that should not be altered during program execution.

13. How do sets handle duplicate values in Python?
    - Sets automatically remove duplicate values. If you add duplicates to a set, only one instance of each unique element is retained.

14. How does the “in” keyword work differently for lists and dictionaries?
    - For lists, in checks for the presence of a value. For dictionaries, in checks for the presence of a key, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you cannot modify tuple elements because tuples are immutable. This ensures their contents remain fixed after creation.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary containing other dictionaries as values. For example, it can store hierarchical data like student records, where each student's name maps to their personal details.

17. Describe the time complexity of accessing elements in a dictionary.
    - Accessing elements in a dictionary has an average time complexity of
 O(1) due to the use of hash tables, making it very efficient.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred when order matters, and you need sequential data processing, such as storing and iterating over a collection of items.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are unordered because they store data based on hash values rather than a specific sequence. This means items cannot be accessed by index, only by key.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - Lists use index-based retrieval, while dictionaries use key-based retrieval. Lists are better for ordered data, and dictionaries excel at fast lookups using unique keys.

## Practical Questions

In [9]:
# QUESTION 1: Write a code to create a string with your name and print it?
name = "ANURAG JAISWAL"
print(name)

ANURAG JAISWAL

In [10]:
# QUESTION 2: Write a code to find the length of the string "Hello World"
string = "ANURAG JAISWAL"
print(len(string))

14

In [11]:
# QUESTION 3: Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [12]:
# QUESTION 4: Write a code to convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [13]:
# QUESTION 5: Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [14]:
# QUESTION 6: Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [15]:
# QUESTION 7: Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [16]:
# QUESTION 8:Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [17]:
# QUESTION 9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [18]:
# QUESTION 10: Write a code to reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

In [19]:
# QUESTION 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tup = (10, 20, 30)
print(tup)

(10, 20, 30)

In [20]:
# QUESTION 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [21]:
# QUESTION 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

3

In [22]:
# QUESTION 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [23]:
# QUESTION 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

In [24]:
# QUESTION 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [25]:
# QUESTION 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [26]:
# QUESTION 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tup = (10, 20, 30)
print(tup)

(10, 20, 30)

In [27]:
# QUESTION 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [28]:
# QUESTION 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))

3

In [29]:
# QUESTION 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [30]:
# QUESTION 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruits = ('apple', 'orange', 'banana')
print('banana' in fruits)

True

In [31]:
# QUESTION 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [32]:
# QUESTION 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}